<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.android.com.android5777_9254_6826">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".model.backend.Provider"
            android:authorities="Business;Attractions;Accounts"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".model.backend.service"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".controller.BusinessesActivity"
            android:label="@string/title_activity_businesses"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.BusinessActivity"
            android:label="@string/title_activity_business"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".controller.AddBusinessActivity" />
        <activity
            android:name=".controller.AddAttractionActivity"
            android:label="@string/title_activity_add_attraction"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.BusinessDeatilsActivity"
            android:label="@string/title_activity_business_deatils"
            android:theme="@style/AppTheme.NoActionBar"></activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>